@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  /* In App.css or index.css */
 
  
  .explain-button {
    background-color: #bfdbfe; /* Tailwind's bg-blue-200 equivalent */
    color: #000;
    margin-top: 1rem;
  }
  
  .explain-details {
    margin-top: 1rem; /* Adds space between the Explain button and details */
    background-color: #f8f8f8; /* Light background for the details section */
    padding-left: 1.5rem; /* Equivalent to px-6 */
    padding-right: 1.5rem; /* Equivalent to px-6 */
    padding-top: 1rem; /* Equivalent to py-4 */
    padding-bottom: 1rem; /* Equivalent to py-4 */
    border: 1px solid #d1d5db; /* Equivalent to border */
    border-radius: 0.5rem; /* Rounds the corners of the details section */
    font-size: 0.875rem; /* Adjusts font size */
    text-align: left; /* Aligns text to the left */
  }

  .hero-section {
    height: 100%; /* Adjust the height as needed */
    background-color: rgb(223, 219, 219); /* Replace with your desired color */
    justify-content: center;
    align-items: center;
  }

  .faq-section {
    height: 500px; /* Adjust the height as needed */
    width: 100%; /* Full width */
    background-color: white;
  }
  
  form, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
  }
  
  button[type="submit"] {
    background-color: #0069ca;
    border: 1px solid #ccc;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0;
  }
  
  .error {
    color: red;
  }
  
  .success {
    color: green;
  }

  

.subscribe{
  width: 100%;
}

.subscribe_box{
  width: 80%;
  margin: 0 auto;
  padding:  8rem 0;

  display: grid;
  grid-template-columns: 1.5fr 2fr;
  align-items: center;
}

.subscribe_box_left h2{
  font-size: 3rem;
  line-height: 0;
}

.subscribe_box p{
  font-size: 1.2rem;
}

.subscribe_box_left_box{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.subscribe_box_left_box small{
  font-size: 1rem;
  font-weight: 700;
}

.subscribe_box_left_box span{
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  padding: .5rem 1rem;
  border-radius: 2rem;
  width: 4rem;
  text-align: center;
}

.subscribe_box_left_input{
  margin-top: 3rem;
  padding: 2rem;
  width: 80%;
  border-radius: 4rem;
  background-color: var(--icons-color);
  color: var(--main-bg-color);

  display: flex;
  align-items: center;
}

.subscribe_box_left_input input{
  background-color: transparent;
  border: 0;
  outline: none;
  width: 90%;
}

.subscribe_box_left_input input::placeholder{
  color: var(--main-bg-color);
  font-size: 1.2rem;
}

.subscribe_box_left_input_icon{
  font-size: 2rem;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px){
  .subscribe_box{
      width: 90%;
      grid-template-columns: 1fr;
      gap: 4rem;
  }
  .subscribe_box_left_input{
      width: 100%;
      padding: 1rem;
  }

  .subscribe_box_left h2{
      font-size: 2rem;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  .subscribe_box{
      width: 90%;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
  }

  .subscribe_box_left_input{
      width: 100%;
      padding: 1rem;
  }

  .subscribe_box_left h2{
      font-size: 2rem;
  }
}